body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
}

.content {
    width: 33%;
    flex-grow: 1;
    padding: 20px 80px;
}

.references {
    width: 250px;
    background-color: #f0f0f0;
    padding: 20px;
}

.references a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    outline: none;
    font-style: italic;
}

.references ul {
    list-style: decimal;
}

.references li {
    margin: 10% 0;
}

.references a:hover {
    text-decoration: underline;
}

.sidebar-nav {
    width: 100%;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 10px;
}

.nav-item a {
    text-decoration: none;
    color: #333;
}

.dropdown-menu {
    list-style-type: none;
    padding-left: 20px;
}

.active>a,
.nav-item a:hover {
    color: #007bff;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}

.home-button {
    margin-bottom: 20px;
}

.home-button a {
    font-weight: bold;
    font-size: 1.2em;
    color: #007bff;
}

.home-button a:hover {
    color: #0056b3;
}

img {
    margin-left: 25%;
    width: 50%;
}

a {
    color: black
}

@media only screen and (max-width: 768px) {

    ::-webkit-scrollbar {
        display: none;
    }

    .container {
        flex-direction: column;
    }

    .content, .references, .sidebar {
        padding: 10px;
        width: 95%;
    }

    .highlight, mjx-container {
        max-width: 100%;
        overflow-x: scroll;
    }

    .dropdown-menu {
        display: none;
    }
    
}